body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  margin:
   0px;
}
h2{
  font-size: 40px;
  
  text-align: center;
}
.color {
  color: rgb(77, 184, 56);
}
.division {
  margin-left: 150px;
  margin-top: 100px;
  width: 50%;
}
#first-image {
  margin-top: 30px;
}
.division img {
  width: 70%;
  height: 400px;
}
.flexible-container {
  display: flex;
  margin-bottom: 50px;
}
.button-tasks {
  text-decoration: none;
  background-color: orange;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 100px;
  color: white;
  height: 10;
}
#space-between {
  margin-bottom: 30px;
}
.gradient-border {
  background: rgb(255, 0, 170);
  width: 4px;
  height: 120px;
  border-radius: 6px;
  position: absolute;
  top: 20%;
}

.font-header{
  margin-left: 3%;
}
.mission-title{
  margin-left: 3%;
}
.mission-attribute{
  height: 350px;
  background-color: red;
 
  width: 100%;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin :1%;
  height: 350px;
}
.mission-attribute img{
  width: 50%;
  height: 150px;
  

}
#mission-attribute-target{
  background-color: rgb(125, 161, 161);
  margin-right: 12%;
}
#mission-attribute-mission{
  background-color: cadetblue;
  margin-left: 12%;
}

#mission-attribute-vission{
  background-color: chocolate;
}
