body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  margin: 0px;
}
h1 span {
  color: rgb(77, 184, 56);
}
.division {
  margin-left: 150px;
  margin-top: 100px;
  width: 50%;
}
#first-image {
  margin-top: 30px;
}
.division img {
  width: 70%;
  height: 400px;
}
section {
  display: flex;
}
.button-tasks {
  text-decoration: none;
  background-color: orange;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 100px;
  color: white;
  height: 10;
}
#space-between {
  margin-bottom: 30px;
}
.gradient-border {
  background: rgb(255, 0, 170);
  width: 4px;
  height: 120px;
  border-radius: 6px;
  position: absolute;
  top: 20%;
}

.font-header{
  margin-left: 3%;
}
.mission-title{
  margin-left: 3%;
}